@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
body {
    background-color: #ececec;
}


/* ----- CHANGE THE SCROLL BAR DESIGN ----- */
::-webkit-scrollbar{
    width: 10px;
    border-radius: 25px;
}
::-webkit-scrollbar-track{
    background: #dfdfdf;
}
::-webkit-scrollbar-thumb{
    background: #cacaca;
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background: #cacaca;
}

/*here start the navbarcss*/
.header{
    background-color: #e7e7e7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo h3{
    font-size: 37px;
    font-weight: 900;
    width: auto;
    transition: all 0.3s;
    border-radius: 50%;
    color: #494949;
}

.header .logo h3:hover{
    transform: scale(1.2);
    color: #0007;
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #494949;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: white;
}
.header .menu button{
    background: transparent;
    border: none;
    cursor: pointer;
    color: #494949;
    
}
i {
    font-size: 37px;
    font-weight: 900;
}

.header .btn button{
    margin-left: 20px;
    font-weight: 700;
    color: #494949;
    padding: 9px 25px;
    background: #cfcfcf;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    color: #494949;
    transform: scale(1.1);
}
.menu {
    display: none;
}
@media screen and (max-width: 800px) {
    .nav-links, .btn{
        display: none;
    }
    .menu{
        display: inherit;
    }
}

/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(231, 231, 231, .88);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #494949;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #fff;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*here ends the navbar css*/


/*here start the menu of the page*/
.container {
    max-width: 1444px;
    padding: 0 20px;
}

.carusel-section {
    display: flex;
    justify-content: center;
    background-color: #ececec;
}
.carusel-section-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section__card{
    display: none;
}
.section__card.show{
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    max-height: 700px;
}
.section__card-content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 50px;
}
.section__card-title {
    font-size: 4.5rem;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 2rem;
    color: #494949;
}
.section__card-text {
    font-weight: 500;
    font-size: 1.1rem;
    color: #000;
}
.section__card-imgs {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__card-img{
    padding: 50px;
}
.section__card-img img{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    border-radius: 20px;
}
.carusel-control {
    position:absolute;
    right: 10px;
    display: flex;
    flex-direction: column-reverse;
}
.prev, .next {
    color: #000;
    background-color:transparent;
    font-size: 1rem;
    margin: 0.2rem 0.2rem 0.2rem 0.2rem ;
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
    transition: 0.3s;
}
.prev:hover, .next:hover{
    color: #000;
    transform: scale(1.1);
}

/*mediacuris*/

@media only screen and (max-width: 1150px) {
    body {
        overflow-x: hidden;
    }
    .section__card-title{
        font-size: 3.4rem;
    }
    .section__card-img img{
        max-height: 460px;
    }


}

@media only screen and (max-width: 960px){
    body {
        overflow-x: hidden;
    }
    .section__card-img{
        padding: 50px 0;
    }
    .section__card-title{
        font-size: 3rem;
    }
    .section__card.show {
        flex-direction: column;
        max-height: 100%;
        padding-bottom: 0;
    }
    .section__card-content{
        margin-bottom: 2rem;
    }
    .carusel-section-cards{
        justify-content: flex-end;
    }
    .carusel-control {
        flex-direction: row;
        align-items: center;
        position:static;
    }
    .next {
        margin-right: 0;
    }
}
@media only screen and (max-width: 510px) {
    body {overflow-x: hidden;}
    .section__card-text, .section__card-title {
        text-align: center;
    }
    .section__card-title {
        font-size: 2.5rem;
    }
}

/*here ends the home*/

/*imgs*/

h5 {
    text-align: center;
    font-size: 80px;
    font-weight: 900;
    padding-top: 240px;
    padding-bottom: 100px;
}
.imgs-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.imgs-home img {
    width: 400px;
    height: 600px;
    border-radius: 12px;
    cursor: pointer;
    margin: 10px;
    transition: 400ms;
    box-shadow: 4px 7px 7px 0 #858585;
}

.imgs-home img:hover {
    transform: scale(1.03);
}

@media only screen and (max-width: 1114px) {
    .imgs-home img {
        width: 90vw;
        height: auto;
    }
      /*about me*/
      .aboutme-box {
        width: 90vw;
        height: auto;
    }
    
}

@media only screen and (max-width: 960px) {
    .imgs-home img {
        width: 90vw;
        height: auto;
    }
      /*about me*/
      .aboutme-box {
        width: 90vw;
        height: auto;
    }
}

@media only screen and (max-width: 510px) {
    .imgs-home img {
        width: 85vw;
        height: auto;
    }

    /*about me*/
    .aboutme-box {
        width: 80vw;
        height: auto;
    }
}

/*about me*/
.services-section {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.container2 {
    max-width: 1444px;
    padding: 0 20px;
}
.services__cards {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services__cards-info {
    max-width: 900px;
}
.services__cards-info h2{
    font-size: 2rem;
    font-weight: 900;
    color: #494949;
    margin-bottom: 1rem;
}
.services__cards-info p{
    font-size: 1.1rem;
    color: #000;
    margin-bottom: 1rem ;
}
.services__cards-card{
    display: flex;
    justify-content: center;
}
.service__card {
    max-width: 35%;
    border: 1px solid #494949;
    margin: 3rem 1rem;
    padding: 2rem 1rem;
    border-radius: 6px;
    transition: 0.3s;
}
.service__card:hover{
    background-color: #e5e5e5;
}
.service__card i{
    font-size: 56px;
    color: #474747;
}
.service__card h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #494949;
}
.service__card p{
    font-size: 1.1rem;
    color: #000;
    margin-top: 1rem;
}

.service__card a{
    display: inline-block;
    flex-direction: row;
    margin: 10px;
    padding: 15px;
    background-color: #494949;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}
.service__card a:hover {
    background-color: #282828;
    transform: scale(1.1);
}
.service__card-h3 {
    padding-bottom: 20px;
}

@media only screen and (max-width: 900px) {
    .services__cards-card {
        flex-direction: column;
        align-items: center;
        max-width: 650px;
    }
    .service__card {
        max-width: 100%;
        margin: 1rem;
    }
}




/*end page*/
.footer {
    position: relative;
    width: 100%;
    background: #e8e8e8;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
  }
  
  .icon-elem {
    list-style: none;
  }
  
  .icon {
    color: #282828;
    font-size: 32px;
    display: inline-block;
    margin: 0 10px;
    transition: 0.5s;
  }
  
  .icon:hover {
    transform: translateY(-10px);
  }
  
  .menu2 {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .menu-elem {
    list-style: none;
  }
  .menu-icon {
    color: #282828;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.5;
    transition: 0.3s;
  }
  
  .menu-icon:hover {
    opacity: 1;
  }
  
  .text {
    color: #474747;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
  }